<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mxr.chatservice.mapper.ContactMapper">
    <insert id="insertContact">
        INSERT INTO contacts SET user = #{user}, contact = #{contact}
    </insert>
    <select id="getContactsByUsername" resultType="com.mxr.chatservice.pojo.Contact">
        SELECT name, username, img_format as imgFormat from users where username in(select contact from contacts where user = #{username})
    </select>
</mapper>